# Configuration file

####################
# block
####################

block {
    I:BlockID1=4095
    I:BlockID10=3777
    I:BlockID11=3778
    I:BlockID12=3779
    I:BlockID13=3780
    I:BlockID14=3781
    I:BlockID15=3782
    I:BlockID16=3783
    I:BlockID17=3784
    I:BlockID18=3785
    I:BlockID19=3786
    I:BlockID2=3769
    I:BlockID3=3770
    I:BlockID4=3771
    I:BlockID5=3772
    I:BlockID7=3774
    I:BlockID8=3775
    I:BlockID9=3776
    I:"Radioactive Block"=3768
    I:accelerator=3783
    I:atomicAssembler=3786
    I:centrifuge=3769
    I:chemicalExtractor=3779
    I:controlRod=3774
    I:electromagnet=3778
    I:electromagnetGlass=3781
    I:fissionReactor=3770
    I:fulmination=3785
    I:funnel=3782
    I:fusionReactor=3776
    I:instantBuilder=3784
    I:nuclearBoiler=3772
    I:plasma=3777
    I:siren=3780
    I:thermometer=3775
    I:turbine=3771
}


####################
# general
####################

general {
    B:"Auto Disable Uranium If Exist"=false
    B:"Disable IC2 Uranium Compression (Recommended)"=true
    B:"Disable Radiation"=false
    B:"Radioactive Ores"=true
}


####################
# item
####################

item {
    I:HazmatBody=13766
    I:HazmatBoots=13764
    I:HazmatBottom=13765
    I:HazmatTop=13767
    I:antimatter=13774
    I:cellDeuterium=13772
    I:cellEmpty=13769
    I:cellWater=31743
    I:deuteriumCell=13772
    I:emptyCell=13769
    I:fissileFuel=13771
    I:rodBreederFuel=13781
    I:rodFissileFuel=13771
    I:steam=13779
    I:strangeMatter=13773
    I:thermometer=13768
    I:uranium=13777
    I:uraniumHexafluoride=13778
    I:waterCell=31743
    I:yellowCake=13776
    I:yellowcake=13776
}


####################
# """ore generation"""
####################

""""ore generation"""" {
    B:"Generate Uranium Ore"=true
}


####################
# potion
####################

potion {
    I:"radiation potion ID"=20
}


