# Configuration file

####################
# block
####################

block {
    I:Storage=2730
    ####################
    # feature
    ####################

    feature {
        I:Storage.Crystal.Damage.Amount=2
        B:Storage.Crystal.Damage.Charge=true
        B:Storage.Crystal.Damage.Enable=true
        I:Storage.Electrum.Damage.Amount=1
        B:Storage.Electrum.Damage.Charge=true
        B:Storage.Electrum.Damage.Enable=true

        # Amount of Redstone Flux charged per tick while touching a block; multiplied by damage dealt by the block. Max: 1000; Default: 50
        I:Storage.FluxPerTickPerDamage=50
    }

}


####################
# general
####################

general {
    S:Version=1.0.0.0
}


####################
# item
####################

item {
    I:Material=8500
    I:Tool.Flux.Axe=8506
    I:Tool.Flux.BattleWrench=8502
    I:Tool.Flux.Pickaxe=8505
    I:Tool.Flux.Shovel=8504
    I:Tool.Flux.Sickle=8507
    I:Tool.Flux.Sword=8503
    I:Tool.Flux.Wrench=8501
    ####################
    # feature
    ####################

    feature {
        B:Tool.Flux.Axe=true
        B:Tool.Flux.BattleWrench=true
        B:Tool.Flux.Pickaxe=true
        B:Tool.Flux.Shovel=true
        B:Tool.Flux.Sickle=true
        B:Tool.Flux.Sword=true
        B:Tool.Flux.Wrench=true
        I:ToolFluxInfusedHarvestLevel=4
    }

}


