# Configuration file

####################
# allow villages
####################

"allow villages" {
    B:Alps=false
    B:Arctic=false
    B:Badlands=false
    B:BambooForest=true
    B:Bayou=true
    B:BirchForest=true
    B:Bog=false
    B:BorealForest=true
    B:Brushland=true
    B:Canyon=false
    B:Chaparral=true
    B:CherryBlossomGrove=false
    B:ConiferousForest=true
    B:ConiferousForestSnow=true
    B:Crag=false
    B:DeadForest=true
    B:DeadForestSnow=true
    B:DeadSwamp=false
    B:Deadlands=false
    B:DeciduousForest=true
    B:Desert=true
    B:Dunes=false
    B:ExtremeHills=false
    B:Fen=false
    B:Field=true
    B:Forest=true
    B:FrostForest=true
    B:FungiForest=false
    B:Garden=false
    B:Glacier=false
    B:Grassland=true
    B:Grove=true
    B:Heathland=true
    B:Highland=false
    B:HotSprings=false
    B:IcyHills=false
    B:JadeCliffs=false
    B:Jungle=false
    B:LushDesert=true
    B:LushSwamp=true
    B:Mangrove=false
    B:MapleWoods=true
    B:Marsh=false
    B:Meadow=true
    B:Mesa=false
    B:Moor=false
    B:Mountain=false
    B:MysticGrove=false
    B:Oasis=true
    B:OminousWoods=false
    B:Orchard=false
    B:OriginValley=false
    B:Outback=false
    B:Pasture=false
    B:Plains=true
    B:Polar=false
    B:Prairie=true
    B:Quagmire=false
    B:Rainforest=false
    B:RedwoodForest=true
    B:SacredSprings=false
    B:Savanna=true
    B:Scrubland=true
    B:SeasonalForest=false
    B:Shield=true
    B:Shrubland=true
    B:Sludgepit=false
    B:SpruceWoods=true
    B:Steppe=true
    B:Swampland=false
    B:Taiga=true
    B:TemperateRainforest=true
    B:Thicket=false
    B:Timber=false
    B:TropicalRainforest=true
    B:Tropics=false
    B:Tundra=true
    B:Volcano=false
    B:Wasteland=false
    B:Wetland=false
    B:Woodland=true
}


####################
# beach variations to generate
####################

"beach variations to generate" {
    B:"Gravel Beach"=true
    B:"Overgrown Beach"=false
}


####################
# biome ids
####################

"biome ids" {
    I:"Alps Forest (Sub-Biome) ID"=42
    I:"Alps ID"=170
    I:"Alps Mountainside (Sub-Biome) ID"=43
    I:"Arctic ID"=171
    I:"Autumn Hills ID"=33
    I:"Badlands ID"=172
    I:"Bamboo Forest ID"=173
    I:"Bayou ID"=174
    I:"Birch Forest ID"=175
    I:"Blessed Bog (Promised Land) ID"=64
    I:"Bloody Heap (Nether) ID"=30
    I:"Bog ID"=176
    I:"Boneyard (Nether) ID"=69
    I:"Boreal Forest ID"=177
    I:"Brushland ID"=178
    I:"Canyon ID"=179
    I:"Canyon Ravine (Sub-Biome) ID"=49
    I:"Chaparral ID"=180
    I:"Cherry Blossom Grove ID"=181
    I:"Coniferous Forest (Snow) ID"=183
    I:"Coniferous Forest ID"=182
    I:"Coral Reef (Ocean) ID"=58
    I:"Corrupted Sands (Nether) ID"=67
    I:"Crag ID"=184
    I:"Dead Forest (Snow) ID"=186
    I:"Dead Forest ID"=185
    I:"Dead Swamp ID"=187
    I:"Deadlands ID"=188
    I:"Deciduous Forest ID"=189
    I:"Desert (New) ID"=249
    I:"Dunes ID"=190
    I:"Extreme Hills (New) ID"=253
    I:"Fen ID"=191
    I:"Field ID"=192
    I:"Forest (New) ID"=250
    I:"Forest Hills (Sub-Biome) ID"=35
    I:"Forested Field (Sub-Biome) ID"=40
    I:"Frost Forest ID"=193
    I:"Fungi Forest ID"=194
    I:"Garden ID"=195
    I:"Glacier ID"=196
    I:"Grassland ID"=197
    I:"Gravel Beach ID"=60
    I:"Grove ID"=198
    I:"Heathland ID"=199
    I:"Highland ID"=200
    I:"Hot Springs ID"=201
    I:"Icy Hills ID"=202
    I:"Jade Cliffs ID"=203
    I:"Jungle (New) ID"=254
    I:"Jungle Hills (Sub-Biome) ID"=37
    I:"Kelp Forest (Ocean) ID"=59
    I:"Lavender Fields ID"=31
    I:"Lush Desert ID"=204
    I:"Lush Swamp ID"=205
    I:"Majestic Meadow (Promised Land) ID"=63
    I:"Mangrove ID"=206
    I:"Maple Woods ID"=210
    I:"Marsh ID"=211
    I:"Meadow Forest (Sub-Biome) ID"=50
    I:"Meadow ID"=212
    I:"Mesa ID"=213
    I:"Moor ID"=214
    I:"Mountain ID"=215
    I:"Mystic Grove ID"=216
    I:"Nether Base (Nether) ID"=65
    I:"Oasis ID"=217
    I:"Oceanic Abyss (Ocean) ID"=57
    I:"Ominous Woods ID"=218
    I:"Orchard ID"=219
    I:"Origin Valley ID"=220
    I:"Outback ID"=221
    I:"Overgrown Beach ID"=61
    I:"Overgrown Greens ID"=34
    I:"Pasture ID"=222
    I:"Pasture Meadow (Sub-Biome) ID"=46
    I:"Phantasmagoric Inferno (Nether) ID"=68
    I:"Plains (New) ID"=248
    I:"Polar ID"=223
    I:"Prairie ID"=224
    I:"Quagmire ID"=225
    I:"Rainforest ID"=226
    I:"Redwood Forest ID"=227
    I:"Sacred Springs ID"=228
    I:"Savanna ID"=229
    I:"Savanna Plateau (Sub-Biome) ID"=39
    I:"Scrubland ID"=230
    I:"Seasonal Forest ID"=231
    I:"Seasonal Spruce Forest (Sub-Biome) ID"=41
    I:"Shield ID"=232
    I:"Shore ID"=233
    I:"Shrubland ID"=234
    I:"Silkglades ID"=38
    I:"Sludgepit ID"=235
    I:"Spruce Woods ID"=236
    I:"Steppe ID"=237
    I:"Sublime Shrubland (Promised Land) ID"=28
    I:"Swampland (New) ID"=252
    I:"Taiga (New) ID"=251
    I:"Taiga Hills (Sub-Biome) ID"=36
    I:"Temperate Rainforest ID"=238
    I:"Thick Ominous Woods (Sub-Biome) ID"=47
    I:"Thick Shrubland (Sub-Biome) ID"=48
    I:"Thicket ID"=239
    I:"Thinned Mystic Grove (Sub-Biome) ID"=29
    I:"Thinned Pasture (Sub-Biome) ID"=45
    I:"Thinned Timber (Sub-Biome) ID"=44
    I:"Timber ID"=240
    I:"Tropical Rainforest ID"=241
    I:"Tropics ID"=242
    I:"Tropics Mountain (Sub-Biome) ID"=32
    I:"Tundra ID"=243
    I:"Undergarden (Nether) ID"=66
    I:"Volcano ID"=244
    I:"Wasteland ID"=245
    I:"Wetland ID"=246
    I:"Wonderous Woods (Promised Land) ID"=62
    I:"Woodland ID"=247
}


####################
# biome settings
####################

"biome settings" {
    B:"Add Biomes To Default World"=true
    B:"Enhanced Vanilla Biomes"=true
}


####################
# biomes o' plenty world type settings
####################

"biomes o' plenty world type settings" {
    I:"Biome Size"=4
    I:"Distance between villages"=32
}


####################
# biomes to generate
####################

"biomes to generate" {
    B:Alps=true
    B:Arctic=true
    B:Badlands=true
    B:BambooForest=true
    B:Bayou=true
    B:BirchForest=true
    B:Bog=true
    B:BorealForest=true
    B:Brushland=true
    B:Canyon=true
    B:Chaparral=true
    B:CherryBlossomGrove=true
    B:ConiferousForest=true
    B:ConiferousForestSnow=true
    B:Crag=true
    B:DeadForest=true
    B:DeadForestSnow=true
    B:DeadSwamp=true
    B:Deadlands=true
    B:DeciduousForest=true
    B:Dunes=true
    B:Fen=true
    B:Field=true
    B:FrostForest=true
    B:FungiForest=true
    B:Garden=true
    B:Glacier=true
    B:Grassland=true
    B:Grove=true
    B:Heathland=true
    B:Highland=true
    B:HotSprings=true
    B:IcyHills=true
    B:JadeCliffs=true
    B:LushDesert=true
    B:LushSwamp=true
    B:Mangrove=true
    B:MapleWoods=true
    B:Marsh=true
    B:Meadow=true
    B:Mesa=true
    B:Moor=true
    B:Mountain=true
    B:MysticGrove=true
    B:Oasis=true
    B:Ocean=true
    B:OminousWoods=true
    B:Orchard=true
    B:OriginValley=true
    B:Outback=true
    B:Pasture=true
    B:Polar=true
    B:Prairie=true
    B:Quagmire=true
    B:Rainforest=true
    B:RedwoodForest=true
    B:SacredSprings=true
    B:Savanna=true
    B:Scrubland=true
    B:SeasonalForest=true
    B:Shield=true
    B:Shrubland=true
    B:Sludgepit=true
    B:SpruceWoods=true
    B:Steppe=true
    B:Swampwoods=true
    B:TemperateRainforest=true
    B:Thicket=true
    B:Timber=true
    B:TropicalRainforest=true
    B:Tropics=true
    B:Tundra=true
    B:Volcano=true
    B:Wasteland=true
    B:Wetland=true
    B:Woodland=true
}


####################
# block
####################

block {
    I:"Acacia Stairs ID"=1952
    I:"Altar ID"=1979
    I:"Amethyst Ore ID"=1942
    I:"Bamboo ID"=1927
    I:"Beetroot Crop ID"=1999
    I:"Bones ID"=1968
    I:"Cherry Stairs ID"=1953
    I:"Cloud ID"=1964
    I:"Colourized Leaves 1 ID"=1990
    I:"Colourized Leaves 2 ID"=1991
    I:"Colourized Leaves 3 ID"=1992
    I:"Colourized Leaves 4 ID"=1993
    I:"Colourized Leaves ID"=1962
    I:"Colourized Sapling ID"=1938
    I:"Coral ID"=1969
    I:"Crystal ID"=1963
    I:"Dark Stairs ID"=1954
    I:"Fir Stairs ID"=1955
    I:"Flower 2 ID"=1983
    I:"Flower ID"=1921
    I:"Foliage ID"=1925
    I:"Fruit Leaf Block 2 ID"=1982
    I:"Fruit Leaf Block ID"=1926
    I:"Glass ID"=1978
    I:"Grave ID"=1981
    I:"Hell Bark Stairs ID"=1976
    I:"Hive ID"=1994
    I:"Holy Stairs ID"=1956
    I:"Honey Block ID"=1995
    I:"Ivy ID"=1943
    I:"Jacaranda ID"=1977
    I:"Leaf Block ID 1"=1923
    I:"Leaf Block ID 2"=1924
    I:"Leaf Block ID 3"=1996
    I:"Leaf Block ID 4"=1997
    I:"Log Block ID 1"=1933
    I:"Log Block ID 2"=1934
    I:"Log Block ID 3"=1935
    I:"Log Block ID 4"=1974
    I:"Magic Stairs ID"=1957
    I:"Mangrove Stairs ID"=1958
    I:"Moss ID"=1985
    I:"Mud Brick Stairs ID"=1929
    I:"Mud Bricks ID"=1928
    I:"Mushroom ID"=1967
    I:"Overgrown Netherrack ID"=1917
    I:"Palm Stairs ID"=1959
    I:"Petal ID"=1936
    I:"Pine Stairs ID"=1975
    I:"Planks ID"=1947
    I:"Plant ID"=1920
    I:"Promised Land Portal ID"=1941
    I:"Puddle ID"=1980
    I:"Red Brick Stairs ID"=1940
    I:"Red Cobble Stairs ID"=1939
    I:"Redwood Stairs ID"=1960
    I:"Sapling ID"=1937
    I:"Skystone Brick Stairs ID"=1966
    I:"Skystone Cobble Stairs ID"=1965
    I:"Stone Double Slab ID"=1930
    I:"Stone Formations ID"=1998
    I:"Stone Single Slab ID"=1931
    I:"Tree Moss ID"=1932
    I:"Turnip Crop ID"=1919
    I:"Willow ID"=1922
    I:"Willow Stairs ID"=1961
    I:"Wooden Double Slab 1 ID"=1948
    I:"Wooden Double Slab 2 ID"=1950
    I:"Wooden Single Slab 1 ID"=1949
    I:"Wooden Single Slab 2 ID"=1951
}


####################
# crafting settings
####################

"crafting settings" {
    B:"Enable Altar Items Crafting"=true
    B:"Enable Amethyst Tool/Armor Crafting"=true
    B:"Enable Ancient Staff Crafting"=true
    B:"Enable Dartblower/Dart Crafting"=true
    B:"Enable Enderporter Crafting"=true
    B:"Enable Flower Band Crafting"=true
    B:"Enable Mud Tool/Armor Crafting"=true
    B:"Enable Scythe Crafting"=true
}


####################
# dimension settings
####################

"dimension settings" {
    B:"Enable Nether Override"=true
    I:"Promised Land Dimension ID"=20
}


####################
# entity ids
####################

"entity ids" {
    I:"Dart ID"=104
    I:"Mudball ID"=103
    I:"Poison Dart ID"=105
}


####################
# hard-coded colors
####################

"hard-coded colors" {
    B:"Enable Sky Colors"=true
    I:"Promised Land Sky Color"=50175
}


####################
# item
####################

item {
    I:"Amethyst Axe ID"=22072
    I:"Amethyst Boots ID"=22077
    I:"Amethyst Chestplate ID"=22075
    I:"Amethyst Helmet ID"=22074
    I:"Amethyst Hoe ID"=22073
    I:"Amethyst Leggings ID"=22076
    I:"Amethyst Pickaxe ID"=22071
    I:"Amethyst Scythe ID"=22087
    I:"Amethyst Shovel ID"=22070
    I:"Amethyst Sword ID"=22069
    I:"Ancient Staff ID"=22006
    I:"Beetroot Seeds ID"=22090
    I:"Berries ID"=22003
    I:"Dart Blower ID"=22012
    I:"Dart ID"=22013
    I:"Diamond Scythe ID"=22085
    I:"Enderporter ID"=22007
    I:"Flippers ID"=22089
    I:"Flower Band ID"=22078
    I:"Food ID"=22003
    I:"Gems ID"=22151
    I:"Gold Scythe ID"=22084
    I:"Iron Scythe ID"=22083
    I:"Jar (Empty) ID"=22153
    I:"Jar (Filled) ID"=22152
    I:"Misc Items ID"=22010
    I:"Mud Ball ID"=22011
    I:"Mud Scythe ID"=22086
    I:"Muddy Axe ID"=22063
    I:"Muddy Boots ID"=22068
    I:"Muddy Chestplate ID"=22066
    I:"Muddy Helmet ID"=22065
    I:"Muddy Hoe ID"=22064
    I:"Muddy Leggings ID"=22067
    I:"Muddy Music Disc ID"=22020
    I:"Muddy Pickaxe ID"=22062
    I:"Muddy Shovel ID"=22061
    I:"Muddy Sword ID"=22060
    I:"Shroom Powder ID"=22001
    I:"Soul Manipulator ID"=22080
    I:"Spring Water Bucket ID"=22079
    I:"Stone Scythe ID"=22082
    I:"Sunflower Seeds ID"=22002
    I:"Traversia Music Disc ID"=22019
    I:"Turnip Seeds ID"=22154
    I:"Wading Boots ID"=22088
    I:"Wood Scythe ID"=22081
}


####################
# liquid ids
####################

"liquid ids" {
    I:"Honey Still ID (ID before this must be free!)"=1989
    I:"Liquid Poison Still ID (ID before this must be free!)"=1973
    I:"Spring Water Still ID (ID before this must be free!)"=1971
}


####################
# miscellanious settings
####################

"miscellanious settings" {
    B:"Add Biomes O' Plenty Achievements"=true
    B:"Add Custom Dungeon Loot"=true
    B:"Enable Puddles During Rain"=true
}


####################
# mob ids
####################

"mob ids" {
    I:"Bird ID"=109
    I:"Glob ID"=106
    I:"Jungle Spider ID"=101
    I:"Phantom ID"=107
    I:"Pixie ID"=110
    I:"Rosester ID"=102
    I:"Wasp ID"=108
}


####################
# nether biomes to generate
####################

"nether biomes to generate" {
    B:Boneyard=true
    B:CorruptedSands=true
    B:PhantasmagoricInferno=true
    B:Undergarden=true
}


####################
# tc compat ids
####################

"tc compat ids" {
    I:"Binding ID"=22088
    I:"Broad Axe Head"=22101
    I:"Chisel Head"=22099
    I:Crossbar=22109
    I:"Excavator Head"=22102
    I:"Frypan Head"=22097
    I:"Hammer Head"=22103
    I:"Hand Guard"=22108
    I:"Hatchet Head"=22906
    I:"Heavy Plate"=22091
    I:"Knife Blade"=22106
    I:"Large Sword Blade"=22105
    I:"Pickaxe Head"=22094
    I:"Scythe Blade"=22100
    I:"Shovel Head"=22095
    I:"Sign Head"=22098
    I:"Sword Blad"=22104
    I:"Tool Rod ID"=22092
    I:"Tool Shard ID"=22093
    I:"Tough Binding ID"=22089
    I:"Tough Rod ID"=22090
    I:"Wide Guard"=22107
}


####################
# terrain block ids - must be below 255
####################

"terrain block ids - must be below 255" {
    I:"Ash Block ID"=183
    I:"Ash Stone ID"=184
    I:"Crag Rock ID"=192
    I:"Dried Dirt ID"=181
    I:"Flesh ID"=179
    I:"Hard Dirt ID"=188
    I:"Hard Ice ID"=185
    I:"Hard Sand ID"=187
    I:"Holy Dirt ID"=194
    I:"Holy Grass ID"=195
    I:"Long Grass ID"=193
    I:"Mud ID"=180
    I:"Origin Grass ID"=186
    I:"Red Rock ID"=182
    I:"Skystone ID"=191
}


####################
# vanilla biomes to generate
####################

"vanilla biomes to generate" {
    B:Desert=true
    B:ExtremeHills=true
    B:Forest=true
    B:Jungle=true
    B:Plains=true
    B:Swampland=true
    B:Taiga=true
}


####################
# vars
####################

vars {
    S:"Seen Version"=null
    B:"Seen WorldType Msg"=true
}


