# Configuration file

####################
# achievement settings
####################

"achievement settings" {
    B:"Add Biomes O' Plenty Achievements"=true
}


####################
# allow villages
####################

"allow villages" {
    B:Alps=true
    B:Arctic=true
    B:Badlands=true
    B:BambooForest=true
    B:Bayou=true
    B:BirchForest=true
    B:Bog=true
    B:BorealForest=true
    B:Brushland=true
    B:Canyon=true
    B:Chaparral=true
    B:CherryBlossomGrove=true
    B:ConiferousForest=true
    B:ConiferousForestSnow=true
    B:Crag=false
    B:DeadForest=true
    B:DeadForestSnow=true
    B:DeadSwamp=true
    B:Deadlands=false
    B:DeciduousForest=true
    B:Desert=true
    B:Drylands=true
    B:Dunes=true
    B:ExtremeHills=false
    B:Fen=false
    B:Field=true
    B:Forest=true
    B:FrostForest=true
    B:FungiForest=false
    B:Garden=false
    B:Glacier=false
    B:Grassland=true
    B:Grove=true
    B:Heathland=true
    B:Highland=true
    B:HotSprings=false
    B:IcyHills=false
    B:IcySheet=false
    B:JadeCliffs=true
    B:Jungle=false
    B:LushDesert=true
    B:LushSwamp=true
    B:Mangrove=false
    B:MapleWoods=true
    B:Marsh=false
    B:Meadow=true
    B:Mesa=false
    B:Moor=true
    B:Mountain=true
    B:MysticGrove=false
    B:Oasis=true
    B:OminousWoods=false
    B:Orchard=true
    B:OriginValley=false
    B:Outback=true
    B:Pasture=true
    B:Plains=true
    B:Polar=false
    B:Prairie=true
    B:Quagmire=true
    B:Rainforest=true
    B:RedwoodForest=true
    B:SacredSprings=false
    B:Savanna=true
    B:Scrubland=true
    B:SeasonalForest=true
    B:Shield=true
    B:Shrubland=true
    B:Sludgepit=false
    B:SnowyWoods=true
    B:SpruceWoods=true
    B:Steppe=false
    B:Swampland=true
    B:Swampwoods=true
    B:Taiga=true
    B:TemperateRainforest=true
    B:Thicket=true
    B:Timber=false
    B:TropicalRainforest=true
    B:Tropics=true
    B:Tundra=true
    B:Volcano=false
    B:Wasteland=false
    B:Wetland=true
    B:Woodland=true
}


####################
# biome ids
####################

"biome ids" {
    I:"Alps ID"=171
    I:"Arctic ID"=172
    I:"Badlands ID"=173
    I:"Bamboo Forest ID"=174
    I:"Bayou ID"=175
    I:"Birch Forest ID"=176
    I:"Blessed Bog (Promised Land) ID"=106
    I:"Bog ID"=177
    I:"Boneyard (Nether) ID"=69
    I:"Boreal Forest ID"=151
    I:"Brushland ID"=178
    I:"Canyon ID"=179
    I:"Chaparral ID"=180
    I:"Cherry Blossom Grove ID"=181
    I:"Coniferous Forest (Snow) ID"=183
    I:"Coniferous Forest ID"=182
    I:"Coral Reef (Ocean) ID"=58
    I:"Corrupted Sands (Nether) ID"=67
    I:"Crag ID"=153
    I:"Dead Forest (Snow) ID"=154
    I:"Dead Forest ID"=184
    I:"Dead Swamp ID"=185
    I:"Deadlands ID"=186
    I:"Deciduous Forest ID"=187
    I:"Desert (New) ID"=249
    I:"Drylands ID"=189
    I:"Dunes ID"=190
    I:"Extreme Hills (New) ID"=253
    I:"Fen ID"=191
    I:"Field ID"=192
    I:"Forest (New) ID"=250
    I:"Frost Forest ID"=193
    I:"Fungi Forest ID"=194
    I:"Garden ID"=195
    I:"Glacier ID"=196
    I:"Grassland ID"=197
    I:"Gravel Beach ID"=60
    I:"Grove ID"=198
    I:"Heathland ID"=199
    I:"Highland ID"=200
    I:"Hot Springs ID"=108
    I:"Ice Sheet ID"=201
    I:"Icy Hills ID"=202
    I:"Jade Cliffs ID"=203
    I:"Jungle (New) ID"=254
    I:"Kelp Forest (Ocean) ID"=59
    I:"Lush Desert ID"=204
    I:"Lush Swamp ID"=205
    I:"Majestic Meadow (Promised Land) ID"=107
    I:"Mangrove ID"=206
    I:"Maple Woods ID"=210
    I:"Marsh ID"=211
    I:"Meadow ID"=212
    I:"Mesa ID"=213
    I:"Moor ID"=214
    I:"Mountain ID"=215
    I:"Mystic Grove ID"=216
    I:"Nether Base (Nether) ID"=65
    I:"Oasis ID"=157
    I:"Ominous Woods ID"=158
    I:"Orchard ID"=219
    I:"Origin Valley ID"=220
    I:"Outback ID"=221
    I:"Overgrown Beach ID"=61
    I:"Pasture ID"=222
    I:"Phantasmagoric Inferno (Nether) ID"=68
    I:"Plains (New) ID"=248
    I:"Polar ID"=150
    I:"Prairie ID"=223
    I:"Promised Land ID"=224
    I:"Quagmire ID"=225
    I:"Rainforest ID"=226
    I:"Redwood Forest ID"=227
    I:"Sacred Springs ID"=228
    I:"Savanna ID"=229
    I:"Scrubland ID"=230
    I:"Seasonal Forest ID"=231
    I:"Shield ID"=232
    I:"Shore ID"=233
    I:"Shrubland ID"=234
    I:"Sludgepit ID"=152
    I:"Snowy Woods ID"=235
    I:"Spruce Woods ID"=236
    I:"Steppe ID"=237
    I:"Swampland (New) ID"=252
    I:"Swampwoods ID"=238
    I:"Taiga (New) ID"=251
    I:"Temperate Rainforest ID"=239
    I:"Thicket ID"=109
    I:"Timber ID"=240
    I:"Tropical Rainforest ID"=241
    I:"Tropics ID"=242
    I:"Tundra ID"=243
    I:"Undergarden (Nether) ID"=66
    I:"Volcano ID"=244
    I:"Wasteland ID"=245
    I:"Wetland ID"=246
    I:"Wonderous Woods (Promised Land) ID"=170
    I:"Woodland ID"=247
}


####################
# biome settings
####################

"biome settings" {
    B:"Add Biomes To Default World"=true
    B:"Enhanced Vanilla Biomes"=true
}


####################
# biomes o' plenty world type settings
####################

"biomes o' plenty world type settings" {
    # Default World Type has 4. Large Biomes World Type has 6.
    I:"Biome Size"=5

    # In Vanilla it is set to 32
    I:"Distance between villages"=24
}


####################
# biomes to generate
####################

"biomes to generate" {
    B:Alps=true
    B:Arctic=true
    B:Badlands=true
    B:BambooForest=true
    B:Bayou=true
    B:BirchForest=true
    B:Bog=true
    B:BorealForest=true
    B:Brushland=true
    B:Canyon=true
    B:Chaparral=true
    B:CherryBlossomGrove=true
    B:ConiferousForest=true
    B:ConiferousForestSnow=true
    B:Crag=true
    B:DeadForest=true
    B:DeadForestSnow=true
    B:DeadSwamp=true
    B:Deadlands=true
    B:DeciduousForest=true
    B:Drylands=true
    B:Dunes=true
    B:Fen=true
    B:Field=true
    B:FrostForest=true
    B:FungiForest=true
    B:Garden=true
    B:Glacier=true
    B:Grassland=true
    B:Grove=true
    B:Heathland=true
    B:Highland=true
    B:HotSprings=true
    B:IcyHills=true
    B:IcySheet=true
    B:JadeCliffs=true
    B:LushDesert=true
    B:LushSwamp=true
    B:Mangrove=true
    B:MapleWoods=true
    B:Marsh=true
    B:Meadow=true
    B:Mesa=true
    B:Moor=true
    B:Mountain=true
    B:MysticGrove=true
    B:Oasis=true
    B:OminousWoods=true
    B:Orchard=true
    B:OriginValley=true
    B:Outback=true
    B:Pasture=true
    B:Polar=true
    B:Prairie=true
    B:Quagmire=true
    B:Rainforest=true
    B:RedwoodForest=true
    B:SacredSprings=true
    B:Savanna=true
    B:Scrubland=true
    B:SeasonalForest=true
    B:Shield=true
    B:Shrubland=true
    B:SnowyWoods=true
    B:SpruceWoods=true
    B:Steppe=true
    B:Swampwoods=true
    B:TemperateRainforest=true
    B:Thicket=true
    B:Timber=true
    B:TropicalRainforest=true
    B:Tropics=true
    B:Tundra=true
    B:Volcano=true
    B:Wasteland=true
    B:Wetland=true
    B:Woodland=true
}


####################
# block
####################

block {
    I:"Acacia Stairs ID"=1952
    I:"Amethyst Ore ID"=1942
    I:"Bamboo ID"=1927
    I:"Bones ID"=1968
    I:"Cherry Stairs ID"=1953
    I:"Cloud ID"=1964
    I:"Colourized Leaves ID"=1962
    I:"Colourized Sapling ID"=1938
    I:"Coral ID"=1969
    I:"Crystal ID"=1963
    I:"Dark Stairs ID"=1954
    I:"Fir Stairs ID"=1955
    I:"Flower ID"=1921
    I:"Foliage ID"=1925
    I:"Fruit Leaf Block ID"=1926
    I:"Hell Bark Stairs ID"=1076
    I:"Holy Stairs ID"=1956
    I:"Ivy ID"=1943
    I:"Jacaranda ID"=1077
    I:"Leaf Block ID 1"=1923
    I:"Leaf Block ID 2"=1924
    I:"Log Block ID 1"=1933
    I:"Log Block ID 2"=1934
    I:"Log Block ID 3"=1935
    I:"Log Block ID 4"=1074
    I:"Magic Stairs ID"=1957
    I:"Mangrove Stairs ID"=1958
    I:"Moss ID"=3094
    I:"Mud Brick Stairs ID"=1929
    I:"Mud Bricks ID"=1928
    I:"Mushroom ID"=1967
    I:"Palm Stairs ID"=1959
    I:"Petal ID"=1936
    I:"Pine Stairs ID"=1075
    I:"Planks ID"=1947
    I:"Plant ID"=1920
    I:"Promised Land Portal ID"=1941
    I:"Red Brick Stairs ID"=1940
    I:"Red Cobble Stairs ID"=1939
    I:"Redwood Stairs ID"=1960
    I:"Sapling ID"=1937
    I:"Skystone Brick Stairs ID"=1966
    I:"Skystone Cobble Stairs ID"=1965
    I:"Stone Double Slab ID"=1930
    I:"Stone Single Slab ID"=1931
    I:"Tree Moss ID"=1932
    I:"Willow ID"=1922
    I:"Willow Stairs ID"=1961
    I:"Wooden Double Slab 1 ID"=1948
    I:"Wooden Double Slab 2 ID"=1950
    I:"Wooden Single Slab 1 ID"=1949
    I:"Wooden Single Slab 2 ID"=1951
}


####################
# dimension settings
####################

"dimension settings" {
    I:"Promised Land Dimension ID"=20
}


####################
# entity ids
####################

"entity ids" {
    I:"Dart ID"=104
    I:"Mudball ID"=103
    I:"Poison Dart ID"=105
}


####################
# hard-coded colors
####################

"hard-coded colors" {
    B:"Enable Sky Colors"=true
    I:"Promised Land Sky Color"=50175
}


####################
# item
####################

item {
    I:"Amethyst Axe ID"=21072
    I:"Amethyst Boots ID"=21077
    I:"Amethyst Chestplate ID"=21075
    I:"Amethyst Helmet ID"=21074
    I:"Amethyst Hoe ID"=21073
    I:"Amethyst Leggings ID"=21076
    I:"Amethyst Pickaxe ID"=21071
    I:"Amethyst Shovel ID"=21070
    I:"Amethyst Sword ID"=11069
    I:"Ancient Staff ID"=21006
    I:"Berries ID"=21003
    I:"Dart Blower ID"=21012
    I:"Dart ID"=21013
    I:"Enderporter ID"=21007
    I:"Flower Band ID"=21078
    I:"Misc Items ID"=21010
    I:"Mud Ball ID"=21011
    I:"Muddy Axe ID"=11063
    I:"Muddy Boots ID"=11068
    I:"Muddy Chestplate ID"=11066
    I:"Muddy Helmet ID"=11065
    I:"Muddy Hoe ID"=11064
    I:"Muddy Leggings ID"=11067
    I:"Muddy Music Disc ID"=21020
    I:"Muddy Pickaxe ID"=21079
    I:"Muddy Shovel ID"=11061
    I:"Muddy Sword ID"=11060
    I:"Shroom Powder ID"=11001
    I:"Spring Water Bucket ID"=21740
    I:"Sunflower Seeds ID"=21002
    I:"Traversia Music Disc ID"=21019
}


####################
# liquid ids
####################

"liquid ids" {
    I:"Liquid Poison Still ID (ID before this must be free!)"=1073
    I:"Spring Water Still ID (ID before this must be free!)"=1071
}


####################
# miscellanious settings
####################

"miscellanious settings" {
    B:"Add Biomes O' Plenty Achievements"=true
    B:"Add Custom Dungeon Loot"=true
}


####################
# mob ids
####################

"mob ids" {
    I:"Glob ID"=106
    I:"Jungle Spider ID"=101
    I:"Rosester ID"=102
}


####################
# nether biomes to generate
####################

"nether biomes to generate" {
    B:Boneyard=true
    B:CorruptedSands=true
    B:PhantasmagoricInferno=true
    B:Undergarden=true
}


####################
# terrain block ids
####################

"terrain block ids" {
    I:"Ash Block ID"=163
    I:"Ash Stone ID"=164
    I:"Crag Rock ID"=171
    I:"Dried Dirt ID"=161
    I:"Hard Dirt ID"=168
    I:"Hard Ice ID"=165
    I:"Hard Sand ID"=167
    I:"Holy Dirt ID"=170
    I:"Holy Grass ID"=169
    I:"Holy Stone ID"=170
    I:"Mud ID"=160
    I:"Origin Grass ID"=166
    I:"Red Rock ID"=162
    I:"Skystone ID"=172
}


####################
# vanilla biomes to generate
####################

"vanilla biomes to generate" {
    B:Desert=true
    B:ExtremeHills=true
    B:Forest=true
    B:Jungle=true
    B:Plains=true
    B:Swampland=true
    B:Taiga=true
}
