# Configuration file

####################
# block
####################

block {
    I:Barrier=2403
    I:Bed=2412
    I:Block=2405
    I:Button=2406
    I:"Collapsible Block"=2414
    I:DaylightSensor=2409
    I:Door=2411
    I:Gate=2404
    I:Hatch=2410
    I:Ladder=2413
    I:Lever=2407
    I:PressurePlate=2408
    I:Slope=2401
    I:Stairs=2402
    I:Torch=2415
}


####################
# control
####################

control {
    B:"Enable Barrier"=true
    B:"Enable Bed"=true
    B:"Enable Block/Slab"=true
    B:"Enable Button"=true
    B:"Enable Collapsible Block"=true
    B:"Enable Daylight Sensor"=true
    B:"Enable Door"=true
    B:"Enable Gate"=true
    B:"Enable Hatch"=true
    B:"Enable Ladder"=true
    B:"Enable Lever"=true
    B:"Enable Pressure Plate"=true
    B:"Enable Slope"=true
    B:"Enable Stairs"=true
    B:"Enable Torch"=true
}


####################
# features
####################

features {
    B:"Enable Covers"=true
    B:"Enable Dye Colors"=true
    B:"Enable Fancy Fluids"=true
    B:"Enable Overlays"=true
    B:"Enable Side Covers"=true
}


####################
# item
####################

item {
    I:Bed=5404
    I:Chisel=5402
    I:Door=5403
    I:Hammer=5401
}


####################
# recipe quantities
####################

"recipe quantities" {
    I:Barrier=2
    I:Bed=1
    I:Block=5
    I:Button=1
    I:"Collapsible Block"=9
    I:"Daylight Sensor"=1
    I:Door=1
    I:Gate=1
    I:Hatch=1
    I:Ladder=4
    I:Lever=1
    I:"Pressure Plate"=1
    I:Slope=4
    I:Stairs=4
    I:Torch=6
}


####################
# rendering
####################

rendering {
    B:enableOptifineIntegration=true
    B:enableZFightingFix=false
}


####################
# slope
####################

slope {
    I:hitboxPrecision=2
}


####################
# tools
####################

tools {
    B:"Enable Chisel"=true
    B:"Tools Damageable"=true
}


