# Configuration file

####################
# block
####################

block {
    I:Imprinter=3605
    I:IndustrialApiary=3604
    I:Mutagen=3600
    I:MutagenProducer=3602
    I:Mutatron=3603
    I:MutatronAdv=3607
    I:Sampler=3606
    I:"Test Power Emitter"=3601
}


####################
# display
####################

display {
    # Units to use when displaying power. Valid values: MJ, EU, RF
    S:PowerShowUnits=MJ
}


####################
# item
####################

item {
    I:ApiaryUpgrade=15504
    I:BeeReceptacle=15507
    I:ClimateModule=15511
    I:GeneSample=15502
    I:GeneSampleBlank=15514
    I:GeneTemplate=15503
    I:GeneticsProcessor=15509
    I:IndustrialGrafter=15505
    I:Labware=15512
    I:MutagenBucket=15500
    I:MutagenCan=15501
    I:MutagenTank=15506
    I:PowerModule=15508
    I:UpgradeFrame=15510
    I:Waste=15513
}


####################
# nei
####################

nei {
    B:"Add samples"=true
}


