# Configuration file

####################
# block
####################

block {
    I:carbideFloodlight=4087
    I:floodlight=4085
    I:floodlightBeam=4086
    I:ic2ElectricFloodlight=4084
    I:ic2ElectricFloodlightOn=4083
}


####################
# item
####################

item {
    I:bonemealAndCharcoal=24200
    I:calciumCarbide=24201
    I:gasNozzle=24202
    I:gaslightMantle=24203
    I:glowingIngot=24204
    I:glowstoneBulb=24205
    I:ic2FilamentAssembly=24206
}


####################
# options
####################

options {
    B:debugBeamBlocks=false
    B:enableSimpleFloodlight=true
    I:maxFloodlightRange=64
}


