# Configuration file

####################
# block
####################

block {
    I:advancedmachines.block.id=1741
    I:blockMultipart.id=1439
    I:chunkloader.id=960
    I:infinitubes.infinitube.id=1623
    I:infinitubes.machine.id=3142
    I:liquidxp.machine.id=4032
    I:peripherals.block.id=3414
    I:peripherals.lan-wire.id=464
    I:redlogic.gates.id=4089
    I:redlogic.lampCubeDecorative.id=3502
    I:redlogic.lampCubeIndicatorOff.id=882
    I:redlogic.lampCubeIndicatorOn.id=3104
    I:redlogic.lampCubeOff.id=3889
    I:redlogic.lampCubeOn.id=3890
    I:redlogic.wire.id=1690
    I:tubestuff.id=1808
    I:tubestuff.storage.id=1661
}


####################
# chunkloader
####################

chunkloader {
    ####################
    # playerQuotaOverride
    ####################

    playerQuotaOverride {
    }

}


####################
# general
####################

general {
    I:advancedmachines.idleEUPerTick=1
    I:advancedmachines.maxVoltage=128
    I:advancedmachines.runningEUPerTick=16
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=false
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of id:meta=number-of-ticks or id=number-of-ticks
    S:chunkloader.fuels=87=80,1=60,263:0=12000,348=2400,4=20,331=1200,112=200,3=20,263:1=1200,368=18000,378=18000,381=36000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Maximum number of chunks loaded by each player. Use -2 for unlimited.
    I:chunkloader.maxChunksPerPlayer=-2
    B:chunkloader.useFuel=false
    B:enableTPSCommand=true
    B:infinitubes.usePower=true
    B:liquidxp.destroyXPOverflow=false
    B:liquidxp.onlyEnchantBooks=true

    # 
    S:peripherals.adminPassword=
    B:peripherals.enableAdventureMapInterface=true
    B:peripherals.enableCraftingAcceleratorComponents=true
    B:peripherals.enableCraftingCryptoAccelerator=true
    B:peripherals.enableCraftingLANModem=true
    B:peripherals.enableCraftingLANWire=true
    B:peripherals.enableCraftingMagCardDevice=true
    B:peripherals.enableCraftingMagCards=true
    B:peripherals.enableCraftingRFIDCards=true
    B:peripherals.enableCraftingRFIDReader=true
    B:peripherals.enableCraftingRFIDWriter=true
    B:peripherals.enableCraftingSpeaker=true
    B:peripherals.enableLAN=true
    B:peripherals.enableLANSenderSpoofing=true
    I:peripherals.rfidTicksPerScan=10
    B:tubestuff.enableBHCAnim=true
    B:tubestuff.enableBHCParticles=true
    B:tubestuff.enableBlackHoleChest=false
    B:tubestuff.enableCraftingBlockBreaker=true
    B:tubestuff.enableCraftingIncinerator=true
    B:tubestuff.enableCraftingLiquidIncinerator=true
    B:tubestuff.enableCraftingOnlinePlayerDetector=true
    B:tubestuff.enableCraftingRetrievulator=true
    B:tubestuff.enableSlowDustFalling=false
    B:tubestuff.enableStorageBlocks=true
    B:tubestuff.enableStorageBlocks.useOreDictionary=true
    B:tubestuff.enableStorageBlocks.vanilla=true
}


####################
# item
####################

item {
    I:itemSaw=13440
    I:liquidxp.bucket=25116
    I:liquidxp.liquid=11318
    I:liquidxp.medallion=26791
    I:peripherals.component=28230
    I:peripherals.magstripe=10153
    I:peripherals.rfid=16250
    I:redlogic.screwdriver=16517
    I:tubestuff.uselessItem=11307
}


####################
# logging
####################

logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=
}


