# Configuration file

####################
# block
####################

block {
    I:advancedmachines.block.id=600
    I:blockMultipart.id=601
    I:chunkloader.id=602
    I:infinitubes.infinitube.id=603
    I:infinitubes.machine.id=604
    I:liquidxp.machine.id=605
    I:peripherals.block.id=606
    I:peripherals.lan-wire.id=607
    I:redlogic.button.id=621
    I:redlogic.customCircuitBlock.id=617
    I:redlogic.gates.id=608
    I:redlogic.lampCubeDecorative.id=609
    I:redlogic.lampCubeIndicatorOff.id=610
    I:redlogic.lampCubeIndicatorOn.id=611
    I:redlogic.lampCubeOff.id=612
    I:redlogic.lampCubeOn.id=613
    I:redlogic.lampNonCube.id=620
    I:redlogic.machineBlock.id=618
    I:redlogic.plainBlock.id=619
    I:redlogic.wire.id=614
    I:tubestuff.id=615
    I:tubestuff.storage.id=616
}


####################
# chunkloader
####################

chunkloader {
    ####################
    # playerQuotaOverride
    ####################

    playerQuotaOverride {
    }

}


####################
# general
####################

general {
    I:advancedmachines.idleEUPerTick=1
    I:advancedmachines.idleEUPerTick_washer=1
    I:advancedmachines.maxVoltage=128
    I:advancedmachines.runningEUPerTick=16
    I:advancedmachines.runningEUPerTick_washer=48
    I:advancedmachines.spinDownRate=2
    I:advancedmachines.spinUpRate=1
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=false
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of id:meta=number-of-ticks or id=number-of-ticks
    S:chunkloader.fuels=87=80,263:0=12000,1=60,331=1200,4=20,348=2400,3=20,112=200,263:1=1200,368=18000,378=18000,381=36000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Maximum number of chunks loaded by each player. Use -2 for unlimited.
    I:chunkloader.maxChunksPerPlayer=-2

    # If true, chunkloaders placed by a player will only load chunks while that player is online.
    B:chunkloader.requireOnline=false
    B:chunkloader.useFuel=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=
    B:enableTPSCommand=true
    B:infinitubes.usePower=false
    B:liquidxp.destroyXPOverflow=false
    I:liquidxp.millibucketsPerXPPoint=25
    B:liquidxp.onlyEnchantBooks=true
    I:liquidxp.xpPerCatalyzedMob=1
    I:liquidxp.xpPerEnchantingBottle=13
    I:liquidxp.xpPerIsolatorOperation=15
    I:liquidxp.xpPerMobEssenceBucket=20

    # 
    S:peripherals.adminPassword=
    B:peripherals.enableAdventureMapInterface=true
    B:peripherals.enableCraftingAcceleratorComponents=true
    B:peripherals.enableCraftingCryptoAccelerator=true
    B:peripherals.enableCraftingLANModem=true
    B:peripherals.enableCraftingLANWire=true
    B:peripherals.enableCraftingMagCardDevice=true
    B:peripherals.enableCraftingMagCards=true
    B:peripherals.enableCraftingRFIDCards=true
    B:peripherals.enableCraftingRFIDReader=true
    B:peripherals.enableCraftingRFIDWriter=true
    B:peripherals.enableCraftingSpeaker=true
    B:peripherals.enableLAN=true
    B:peripherals.enableLANSenderSpoofing=true
    I:peripherals.rfidTicksPerScan=10
    I:redlogic.defaultTimerTicks=20
    I:redlogic.minTimerTicks=4
    B:tubestuff.enableBHCAnim=true
    B:tubestuff.enableBHCParticles=true
    B:tubestuff.enableBlackHoleChest=false
    B:tubestuff.enableCraftingBlockBreaker=true
    B:tubestuff.enableCraftingDeployer=true
    B:tubestuff.enableCraftingIncinerator=true
    B:tubestuff.enableCraftingLiquidIncinerator=true
    B:tubestuff.enableCraftingOnlinePlayerDetector=true
    B:tubestuff.enableCraftingRetrievulator=true
    B:tubestuff.enableSlowDustFalling=false
    B:tubestuff.enableStorageBlocks=true
    B:tubestuff.enableStorageBlocks.useOreDictionary=true
    B:tubestuff.enableStorageBlocks.vanilla=true
}


####################
# item
####################

item {
    I:advancedmachines.sharpPlate=9812
    I:itemSaw=9800
    I:liquidxp.bucket=9801
    I:liquidxp.liquid=9802
    I:liquidxp.medallion=9803
    I:peripherals.component=9804
    I:peripherals.magstripe=9805
    I:peripherals.rfid=9806
    I:redlogic.chip=9809
    I:redlogic.compiledCircuit=9810
    I:redlogic.schematic=9811
    I:redlogic.screwdriver=9807
    I:tubestuff.uselessItem=9808
}


####################
# logging
####################

logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=
}


