# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=74b93c45-98f0-486c-988a-73d34aea0917

    # Set to true to disable all reporting
    B:opt-out=false
}


