# Configuration file

####################
# block
####################

block {
    I:"Auto Placer"=3989
    I:"Block Breaker"=3990
    I:"Block Detector"=3982
    I:"Block Teleporter"=3993
    I:"Ender Porter"=3983
    I:"Entity Detector"=3986
    I:"Fertilized Dirt"=3987
    I:"Fluid Display"=3992
    I:"Imbuing Station"=3994
    I:"Inventory Interface"=3984
    I:"Item Collector"=3980
    I:"Online Detector"=3985
    I:"Player Interface"=3981
    I:"Shock Absorber"=3988
}


####################
# disabled sounds
####################

"disabled sounds" {
    B:"Cave Ambient"=false
    B:"Portal Ambient"=false
    B:Rain=false
    B:Villager-Hitsound=false
    B:Villager-Idle=false
}


####################
# dungeon loots
#===================
# 1-100
# (1=Golden Apple,100 = Bread)
####################

"dungeon loots" {
    I:BlueStone-Chance=10
    I:FlaskPoison-Chance=2
    I:FlaskWeakness-Chance=2
    I:FlaskWithering-Chance=1
    I:NighStone-Chance=2
    I:WhiteStone-Chance=50
}


####################
# item
####################

item {
    I:"Block Mover"=6742
    I:"Block Replacer"=6748
    I:"Blue Stone"=6744
    I:"Crafting Items"=6750
    I:"Diamond Breaker"=6749
    I:"Entity Mover"=6747
    I:Filter=6751
    I:Flasks=6752
    I:"GI Cards"=6746
    I:"Magnetic Force"=6746
    I:"Night Stone"=6743
    I:"Portable Ender Porter"=6740
    I:"Target Card"=6745
    I:"White Stone"=6741
}


####################
# mod support
####################

"mod support" {
    B:Waila=true
}


####################
# options
####################

options {
    B:"Animated Textures"=true

    # Adds ALL colors of Glass,Redstone Blocks and Redstone Lamps to the Creative Tabs and NEI
    B:ColoredInCreative=true
    D:Darkness-Level=1.0
    B:Sounds=true
}


####################
# potions
####################

potions {
    I:ImbuePoison=80
    I:ImbueWeakness=81
    I:ImbueWither=82
}


####################
# vanilla changes
####################

"vanilla changes" {
    B:ColoredGlass=false
    B:ColoredLamps=true
    B:ColoredRedstoneBlocks=true
    B:EditSigns=true
    B:FastLeaveDecay=true
    B:"Hardcore Darkness"=false
    B:MoreCraftingtables=false
    B:RandomBackgrounds=false
    B:SeasonalBackgrounds=false
}


