# Configuration file

####################
# general
####################

general {
    B:Debug=false

    # Example ID: 30174 will disable recipe related to that item, setting 30174:1 will only disable specific item with that metadata, seperate ID's with ;
    S:Disabled=

    # Works the same as above but only restrict IC2 Recipes
    S:DisabledIC2=

    # Set this to true if you want to remove banned items from players at login and every interval
    B:RemoveIngame=false

    # Interval in seconds to check if player have a banned item, default is 600 seconds(10 minutes)
    I:RemoveInterval=600

    # Works the same as Disabled and is only used if RemoveIngame is set to true
    S:RemoveItems=
}


####################
# placeholderitem
####################

placeholderitem {
    # The Description of Placeholder Item, try to keep it short.
    S:Description=Not Craftable

    # This item is to be used instead of recipe output item, only works for recipes in workbench
    I:ItemID=6342

    # Placeholder Item Name
    S:Name=Banned Recipe
}


