# Configuration file

####################
# block
####################

block {
    I:"id_tile.ttinkerer:animationTablet"=2650
    I:"id_tile.ttinkerer:darkQuartz"=2651
    I:"id_tile.ttinkerer:darkQuartzSlab"=2652
    I:"id_tile.ttinkerer:darkQuartzSlabFull"=2653
    I:"id_tile.ttinkerer:darkQuartzStairs"=2654
    I:"id_tile.ttinkerer:enchanter"=2655
    I:"id_tile.ttinkerer:funnel"=2656
    I:"id_tile.ttinkerer:gaseousLight"=2657
    I:"id_tile.ttinkerer:gaseousShadow"=2658
    I:"id_tile.ttinkerer:interface"=2659
    I:"id_tile.ttinkerer:magnet"=2660
    I:"id_tile.ttinkerer:nitorGas"=2661
}


####################
# enchantments
####################

enchantments {
    I:"id_enchant.ttinkerer:ascentBoost"=220
    I:"id_enchant.ttinkerer:autoSmelt"=222
    I:"id_enchant.ttinkerer:desintegrate"=223
    I:"id_enchant.ttinkerer:quickDraw"=224
    I:"id_enchant.ttinkerer:slowFall"=221
    I:"id_enchant.ttinkerer:vampirism"=225
}


####################
# item
####################

item {
    I:"id_item.ttinkerer:brightNitor"=18559
    I:"id_item.ttinkerer:cleansingTalisman"=18558
    I:"id_item.ttinkerer:connector"=18551
    I:"id_item.ttinkerer:darkQuartz"=18550
    I:"id_item.ttinkerer:focusDislocation"=18557
    I:"id_item.ttinkerer:focusFlight"=18556
    I:"id_item.ttinkerer:focusHeal"=18564
    I:"id_item.ttinkerer:focusSmelt"=18563
    I:"id_item.ttinkerer:focusTelekinesis"=18560
    I:"id_item.ttinkerer:gasRemover"=18554
    I:"id_item.ttinkerer:gaseousLight"=18552
    I:"id_item.ttinkerer:gaseousShadow"=18553
    I:"id_item.ttinkerer:soulMould"=18561
    I:"id_item.ttinkerer:spellCloth"=18555
    I:"id_item.ttinkerer:xpTalisman"=18562
}


