# Configuration file

####################
# block
####################

block {
    I:"id_tile.ttinkerer:animationTablet"=2650
    I:"id_tile.ttinkerer:aspectAnalyzer"=2664
    I:"id_tile.ttinkerer:darkQuartz"=2651
    I:"id_tile.ttinkerer:darkQuartzSlab"=2652
    I:"id_tile.ttinkerer:darkQuartzSlabFull"=2653
    I:"id_tile.ttinkerer:darkQuartzStairs"=2654
    I:"id_tile.ttinkerer:dislocator"=2662
    I:"id_tile.ttinkerer:enchanter"=2655
    I:"id_tile.ttinkerer:funnel"=2656
    I:"id_tile.ttinkerer:gaseousLight"=2657
    I:"id_tile.ttinkerer:gaseousShadow"=2658
    I:"id_tile.ttinkerer:interface"=2659
    I:"id_tile.ttinkerer:magnet"=2660
    I:"id_tile.ttinkerer:nitorGas"=2661
    I:"id_tile.ttinkerer:platform"=2665
    I:"id_tile.ttinkerer:repairer"=2663
    ####################
    # kami
    #===================
    # These will only be used if KAMI is loaded. (KAMI is a separate download you can find in the Thaumic Tinkerer thread)
    ####################

    kami {
    }

}


####################
# enchantments
####################

enchantments {
    I:"id_enchant.ttinkerer:ascentBoost"=220
    I:"id_enchant.ttinkerer:autoSmelt"=222
    I:"id_enchant.ttinkerer:desintegrate"=223
    I:"id_enchant.ttinkerer:quickDraw"=224
    I:"id_enchant.ttinkerer:slowFall"=221
    I:"id_enchant.ttinkerer:vampirism"=225
}


####################
# general
####################

general {
    # Set to false to disable the crafting recipe for the Tome of Research Sharing.
    B:shareTome.survival.enabled=true

    # Set to false to disable the [TT] tooltips in the thauminomicon.
    B:tooltipIndicators.enabled=true
    ####################
    # kami
    #===================
    # These will only be used if KAMI is loaded. (KAMI is a separate download you can find in the Thaumic Tinkerer thread)
    ####################

    kami {
        # Set to false to remove the phantom blocks displayed by the Worldshaper's Seeing Glass.
        B:placementMirror.blocks.show=true
    }

}


####################
# item
####################

item {
    I:"id_item.ttinkerer:bloodSword"=18566
    I:"id_item.ttinkerer:brightNitor"=18559
    I:"id_item.ttinkerer:cleansingTalisman"=18558
    I:"id_item.ttinkerer:connector"=18551
    I:"id_item.ttinkerer:darkQuartz"=18550
    I:"id_item.ttinkerer:focusDeflect"=18169
    I:"id_item.ttinkerer:focusDislocation"=18557
    I:"id_item.ttinkerer:focusEnderChest"=18565
    I:"id_item.ttinkerer:focusFlight"=18556
    I:"id_item.ttinkerer:focusHeal"=18564
    I:"id_item.ttinkerer:focusSmelt"=18563
    I:"id_item.ttinkerer:focusTelekinesis"=18560
    I:"id_item.ttinkerer:gasRemover"=18554
    I:"id_item.ttinkerer:gaseousLight"=18552
    I:"id_item.ttinkerer:gaseousShadow"=18553
    I:"id_item.ttinkerer:infusedInkwell"=18568
    I:"id_item.ttinkerer:revealingHelm"=18567
    I:"id_item.ttinkerer:shareBook"=18570
    I:"id_item.ttinkerer:soulMould"=18561
    I:"id_item.ttinkerer:spellCloth"=18555
    I:"id_item.ttinkerer:xpTalisman"=18562
    ####################
    # kami
    #===================
    # These will only be used if KAMI is loaded. (KAMI is a separate download you can find in the Thaumic Tinkerer thread)
    ####################

    kami {
        I:"id_item.ttinkerer:blockTalisman"=18219
        I:"id_item.ttinkerer:catAmulet"=18209
        I:"id_item.ttinkerer:ichorAxe"=18212
        I:"id_item.ttinkerer:ichorAxeGem"=18216
        I:"id_item.ttinkerer:ichorPick"=18210
        I:"id_item.ttinkerer:ichorPickGem"=18214
        I:"id_item.ttinkerer:ichorPouch"=18218
        I:"id_item.ttinkerer:ichorShovel"=18211
        I:"id_item.ttinkerer:ichorShovelGem"=18215
        I:"id_item.ttinkerer:ichorSword"=18213
        I:"id_item.ttinkerer:ichorSwordGem"=18217
        I:"id_item.ttinkerer:ichorclothBoots"=18204
        I:"id_item.ttinkerer:ichorclothBootsGem"=18208
        I:"id_item.ttinkerer:ichorclothChest"=18202
        I:"id_item.ttinkerer:ichorclothChestGem"=18206
        I:"id_item.ttinkerer:ichorclothHelm"=18201
        I:"id_item.ttinkerer:ichorclothHelmGem"=18205
        I:"id_item.ttinkerer:ichorclothLegs"=18203
        I:"id_item.ttinkerer:ichorclothLegsGem"=18207
        I:"id_item.ttinkerer:kamiResource"=18200
        I:"id_item.ttinkerer:placementMirror"=18220
    }

}


