# Configuration file

####################
# compatiblity
####################

compatiblity {
    D:"BuildCraft Conversion Ratio"=100.0
    D:"IndustrialCraft Conversion Ratio"=40.0
    B:"Is Network Active"=false
    B:"Is Voltage Sensitive"=false
    D:"Thermal Expansion Conversion Ratio"=28.139999389648438
}


