# Configuration file

####################
# block
####################

block {
    I:vendingMachine=4020
    I:vendingMachineAdvanced=4021
}


####################
# general
####################

general {
    # Add a new tab to creative mode and put all vending blocks there.
    B:"use custom creative tab"=true
}


####################
# item
####################

item {
    I:wrench=3844
}


