# Configuration file

####################
# block
####################

block {
    I:BlockArcaneDoor=2415
    I:BlockArcaneFurnace=2406
    I:BlockCandle=2411
    I:BlockChestHungry=2410
    I:BlockCosmeticOpaque=2421
    I:BlockCosmeticSolid=2422
    I:BlockCrucible=2407
    I:BlockCrystal=2420
    I:BlockCustomOre=2402
    I:BlockCustomPlant=2403
    I:BlockFluxGoo=2400
    I:BlockHole=2401
    I:BlockInfusionWorkbench=2412
    I:BlockJar=2414
    I:BlockLifter=2418
    I:BlockMagicalLeaves=2405
    I:BlockMagicalLog=2404
    I:BlockMarker=2408
    I:BlockMirror=2423
    I:BlockNitor=2419
    I:BlockSecure=2416
    I:BlockTable=2409
    I:BlockWooden=2413
    I:BlockWoodenDevice=2417
}


####################
# enchantments
#===================
# Custom enchantments
####################

enchantments {
    I:ench_charging=152
    I:ench_frugal=151
    I:ench_haste=154
    I:ench_potency=150
    I:ench_repair=155
    I:ench_wandfortune=153
}


####################
# entities
#===================
# Entity id's
####################

entities {
    I:alumentum=216
    I:dart=215
    I:firebat=211
    I:followitem=207
    I:frostshard=214
    I:giantsmartzombie=209
    I:golemclay=201
    I:golemclayadv=212
    I:golemstone=203
    I:golemstoneadv=213
    I:golemstraw=208
    I:golemtallow=206
    I:golemtallowadv=217
    I:golemwood=202
    I:smartzombie=204
    I:specialitem=200
    I:wisp=205
    I:wizardvillager=210
}


####################
# general
####################

general {
    # Enables a version of the Thauminomicon in creative mode that grants you all the research when you first use it.
    B:allow_cheat_sheet=false

    # If set to false, warded stone, doors and glass will just be cosmetic in nature and not have its hardened properties (everyone will be able to break it with equal ease).
    B:allow_warded_stone=true

    # Item aspects are hidden by default and pressing shift reveals them. Changing this setting to 'true' will reverse this behaviour and always display aspects unless shift is pressed.
    B:display_aspects=false

    # If set to true golems will attempt to play the chest opening animations and sounds whenever they interact with them.
    B:golem_chest_interact=true

    # How rare nodes are in the world. The number means there will be (on average) one node per N chunks. Nodes are genned with a minimum distance of 64 blocks between them so setting the number to 1 will probably not result in 1 node per chunk.
    I:node_rarity=23

    # This is a comma-delimited list of any block-id's the portable hole is not allowed to pass through.
    S:portablehole_blacklist=71

    # The chance of a node being special (pure, dark, unstable, etc.). The number means roughly 1 in N nodes will be special, so setting the number to 5 will mean 1 in 5 nodes may be special.
    I:special_node_rarity=75
}


####################
# item
####################

item {
    I:ArcaneDoorKey=25048
    I:BlockJarFilledItem=25035
    I:BootsTraveller=25031
    I:ElementalAxe=25043
    I:ElementalHoe=25044
    I:ElementalPickaxe=25042
    I:ElementalShovel=25041
    I:ElementalSword=25040
    I:HandMirror=25049
    I:Hellrod=25037
    I:HoverHarness=25050
    I:ItemArcaneDoor=25029
    I:ItemEssence=25005
    I:ItemGoggles=25016
    I:ItemGolemCore=25026
    I:ItemGolemDecoration=25036
    I:ItemGolemPlacer=25015
    I:ItemInkwell=25010
    I:ItemNugget=25030
    I:ItemNuggetBeef=25033
    I:ItemNuggetChicken=25032
    I:ItemNuggetPork=25034
    I:ItemPortableHole=25012
    I:ItemResearchNotes=25009
    I:ItemResource=25007
    I:ItemShard=25008
    I:ItemThaumometer=25013
    I:ItemThaumonomicon=25011
    I:ItemWispEssence=25006
    I:Robeboots=25047
    I:Robechest=25045
    I:Robelegs=25046
    I:ThaumPick=25022
    I:Thaumaxe=25023
    I:Thaumboots=25020
    I:Thaumchest=25018
    I:Thaumhelm=25017
    I:Thaumhoe=25025
    I:Thaumlegs=25019
    I:Thaumshovel=25021
    I:Thaumsword=25024
    I:TripleMeatTreat=25039
    I:WandCastingAdept=25001
    I:WandCastingApprentice=25000
    I:WandCastingMage=25002
    I:WandExcavation=25028
    I:WandFire=25003
    I:WandFrost=25038
    I:WandLightning=25004
    I:WandTrade=25027
}


####################
# monster_spawning
#===================
# Will these mobs spawn
####################

monster_spawning {
    B:spawn_angry_zombies=true
    B:spawn_fire_bats=true
}


####################
# research
#===================
# Various research related things.
####################

research {
    # The base % chance of success for experimental research
    I:base_exp_chance=33

    # The base % chance of success for 'safe' research
    I:base_safe_chance=15

    # The base % chance of item loss for 'safe' research
    I:base_safe_loss=25

    # The base % chance of success for 'thorough' research
    I:base_thorough_chance=55

    # The base % chance of item loss for 'thorough' research
    I:base_thorough_loss=75
}


####################
# world_regeneration
#===================
# If a chunk is encountered that skipped TC worldgen, then the game will attempt to regenerate certain world features if they are set to true. CAUTION: Best used for worlds created before you added this mod, and only if you know what you are doing. Backups are advised.
####################

world_regeneration {
    B:amber_ore=false
    B:aura_nodes=false
    B:cinnibar_ore=false
    B:infused_stone=false

    # This key is used to keep track of which chunk have been generated/regenerated. Changing it will cause the regeneration code to run again, so only change it if you want it to happen. Useful to regen only one world feature at a time.
    S:regen_key=DEFAULT

    # Do not load auras in chunks the next time the game/server is run. This will have the effect of deleting the aura in that chunk. This setting will automatically be set back to false. USE WITH CAUTION... obviously
    B:remove_aura_nodes=false
    B:structures=false
    B:trees=false
}


