# Configuration file

####################
# block
####################

block {
    I:Block=4093
    I:Block2=4091
    I:LightSource=4061
    I:Machine=4092
    I:Ore=4060
}


####################
# crops
####################

crops {
    I:Argentia=145
    I:Blazereed=130
    I:Bobsyeruncleranks=127
    I:Brown_Mushrooms=143
    I:Coppon=142
    I:Corium=132
    I:Corpseplant=133
    I:Creeperweed=134
    I:Diareed=128
    I:Eggplant=131
    I:Enderbloom=135
    I:Flax=125
    I:Indigo=124
    I:Meatrose=136
    I:Milkwart=137
    I:Oilberries=126
    I:Plumbilia=146
    I:Red_Mushrooms=144
    I:Slimeplant=138
    I:Spidernip=139
    I:Tearstalks=140
    I:Tine=141
    I:Withereed=129
}


####################
# item
####################

item {
    I:CELLS=19999
    I:COMPONENTS=19003
    I:CheatyDevice=21018
    I:CloakingDevice=21038
    I:Crowbar=21064
    I:DUSTS=19998
    I:Dataorb=21043
    I:DebugScanner=21055
    I:Destructopack=21033
    I:GASSES=21014
    I:HammerBronze=31710
    I:HammerIron=31711
    I:HammerRubber=31712
    I:HammerSteel=31588
    I:HammerTungstenSteel=31587
    I:HandheldSonictron=21032
    I:Heliumcoolant060k=21034
    I:Heliumcoolant120k=21035
    I:Heliumcoolant180k=21036
    I:IronMortar=21030
    I:JackHammerDiamond=21042
    I:JackHammerIron=21039
    I:JackHammerSteel=21041
    I:LIQUIDS=20110
    I:Lamphelmet=21044
    I:LapotronicEnergycrystal=21037
    I:Lapotronpack=21045
    I:LavaFilter=21085
    I:LithiumCell=21054
    I:LithiumbatteryEmpty=21056
    I:LithiumbatteryFull=21057
    I:Lithiumpack=21058
    I:MATERIALS=21000
    I:Mortar=21031
    I:NCSensorCard=21016
    I:NCSensorKit=21017
    I:NUGGETS=21005
    I:NaKcoolant060k=21060
    I:NaKcoolant120k=21061
    I:NaKcoolant180k=21062
    I:Neutronreflector=21040
    I:PLASMA=21015
    I:Plutonium1=21051
    I:Plutonium2=21052
    I:Plutonium4=21053
    I:Rockcutter=21046
    I:SMALLDUSTS=21004
    I:Scanner=21063
    I:Screwdriver=21065
    I:SolderingLead=31584
    I:SolderingTin=31585
    I:SolderingTool=31586
    I:Spray_00=21096
    I:Spray_01=21097
    I:Spray_02=21098
    I:Spray_03=21099
    I:Spray_04=21100
    I:Spray_05=21101
    I:Spray_06=21102
    I:Spray_07=21103
    I:Spray_08=21104
    I:Spray_09=21105
    I:Spray_10=21106
    I:Spray_11=21107
    I:Spray_12=21108
    I:Spray_13=21109
    I:Spray_14=21110
    I:Spray_15=21111
    I:Spray_CFoam=21093
    I:Spray_Hardener=21092
    I:Spray_Hydration=21095
    I:Spray_Pepper=21094
    I:Teslastaff=21047
    I:Thorium1=21048
    I:Thorium2=21049
    I:Thorium4=21050
    I:TurbineBronze=21080
    I:TurbineCarbon=21084
    I:TurbineMagnalium=21082
    I:TurbineSteel=21081
    I:TurbineTungstensteel=21083
    I:WrenchAdvanced=31713
    I:WrenchBronze=21069
    I:WrenchElectric=31714
    I:WrenchRefIron=21067
    I:WrenchSteel=21066
    I:WrenchTungstensteel=21068
}


