# Configuration file

####################
# block
####################

block {
    I:ID.BioFuel.Still=1043
    I:ID.Bricks=1033
    I:ID.CargoRailDropoffBlock=1025
    I:ID.CargoRailPickupBlock=1026
    I:ID.ChocolateMilk.Still=1040
    I:ID.ConveyorBlock=1021
    I:ID.FakeLaser=1047
    I:ID.MachineBlock=1020
    I:ID.MachineBlock1=1031
    I:ID.MachineBlock2=1046
    I:ID.Meat.Still=1036
    I:ID.Milk.Still=1035
    I:ID.MobEssence.Still=1041
    I:ID.MushroomSoup.Still=1042
    I:ID.PassengerRailDropoffBlock=1027
    I:ID.PassengerRailPickupBlock=1028
    I:ID.PinkSlime.Still=1038
    I:ID.RedNet.Cable=1044
    I:ID.RedNet.Logic=1045
    I:ID.RedNet.Panel=1049
    I:ID.Road=1032
    I:ID.RubberLeaves=1023
    I:ID.RubberSapling=1024
    I:ID.RubberWood=1022
    I:ID.Sewage.Still=1039
    I:ID.Sludge.Still=1037
    I:ID.StainedGlass=1029
    I:ID.StainedGlassPane=1030
    I:ID.Stone=1034
    I:ID.VineScaffold=1048
}


####################
# entity
####################

entity {
    I:ID.Zoologist=330
}


####################
# general
####################

general {
    B:AutoEnchanter.EnableSafeMode=false

    # The work required to generate a mob in exact mode.
    I:AutoSpawner.Cost.Exact=50

    # The work required to generate a mob in standard (non-exact) mode.
    I:AutoSpawner.Cost.Standard=15

    # If the number of entities in the breeder's target area exceeds this value, the breeder will cease operating. This is provided to control server lag.
    I:Breeder.ShutdownThreshold=50

    # If false, conveyors will not grab non-item entities. Breaks conveyor mob grinders but makes them safe for golems, etc.
    B:Conveyor.CaptureNonItems=true

    # If true, conveyors will NEVER capture players regardless of other settings.
    B:Conveyor.NeverCapturePlayers=true

    # If true, conveyors will NEVER capture Thaumcraft golems regardless of other settings.
    B:Conveyor.NeverCaptureTCGolems=true
    B:DSU.CraftSingle=false
    B:DSU.EnableCheaperRecipe=false
    B:EnableMossyCobbleRecipe=true

    # If true, the fertilizer will use bonemeal as well as MFR fertilizer. Provided for those who want a less work-intensive farm.
    B:Fertilizer.EnableBonemeal=false

    # The work required by the drill to generate a single ore.
    I:LaserDrill.Cost=300

    # If true, meat will be worth steak saturation instead of cookie saturation.
    B:Meat.IncreasedSaturation=false

    # Set to false to disable the harvester's sound when a block is harvested.
    B:PlaySounds=true

    # A comma-separated list of block IDs to prevent RedNet cables from connecting to.
    S:RedNet.ConnectionBlackList=

    # If true, RedNet cables will dump a massive amount of data to the log file. You should probably only use this if PC tells you to.
    B:RedNet.Debug=false

    # Set to true to enable the RedNet GUI's colorblind mode.
    B:RedNet.EnableColorblindMode=false

    # If true, roads will be slippery like ice.
    B:Road.Slippery=false

    # When searching for parts of a fruit tree, how far out to the sides (radius) to search
    I:SearchDistance.FruitTreeMaxHoriztonal=5

    # When searching for parts of a fruit tree, how far up to search
    I:SearchDistance.FruitTreeMaxVertical=20

    # When searching for players or dropoff locations, how far out to the sides (radius) to search
    I:SearchDistance.PassengerRailMaxHorizontal=3

    # When searching for players or dropoff locations, how far up to search
    I:SearchDistance.PassengerRailMaxVertical=2

    # How far upward to search for members of "stacking" blocks, like cactus and sugarcane
    I:SearchDistance.StackingBlockMaxVertical=3

    # When searching for parts of a tree, how far out to the sides (radius) to search
    I:SearchDistance.TreeMaxHoriztonal=8

    # When searching for parts of a tree, how far up to search
    I:SearchDistance.TreeMaxVertical=40

    # If true, when you have no empty slots in your inventory, you will continue filling buckets from tanks and drop them on the ground.
    B:Tanks.FillWithoutEmptySlots=true

    # A comma-separated list of ore dictionary entrys to disable unifying for. By default, MFR will not attempt to unify anything with more than one oredict name.
    S:Unifier.Blacklist=dyeBlue,dyeWhite

    # If true, allows vanilla glass panes to connect to MFR stained glass panes.
    B:VanillaOverride.GlassPanes=true

    # If true, enables MFR unmelting ice as well as vanilla ice.
    B:VanillaOverride.Ice=false

    # If true, replaces the vanilla milk bucket so milk can be placed in the world.
    B:VanillaOverride.MilkBucket=true

    # A comma-separated list of dimension IDs to disable MFR worldgen in. By default, MFR will not attempt worldgen in dimensions where the player cannot respawn.
    S:WorldGen.DimensionBlacklist=

    # Higher numbers make sewage lakes rarer. A value of one will be approximately one per chunk.
    I:WorldGen.LakeRarity.Sewage=32

    # Higher numbers make sludge lakes rarer. A value of one will be approximately one per chunk.
    I:WorldGen.LakeRarity.Sludge=32

    # Whether or not to generate MFR lakes during map generation
    B:WorldGen.MFRLakes=true

    # Whether or not to generate rubber trees during map generation
    B:WorldGen.RubberTree=true

    # A comma-separated list of biomes to disallow rubber trees to spawn in. Overrides any other biomes added.
    S:WorldGen.RubberTreeBiomeBlacklist=

    # A comma-separated list of biomes to allow rubber trees to spawn in. Does nothing if rubber tree worldgen is disabled.
    S:WorldGen.RubberTreeBiomeWhitelist=
}


####################
# item
####################

item {
    I:ID.BioFuel=21009
    I:ID.BioFuelBucket=21010
    I:ID.BlankRecord=21006
    I:ID.CeramicDye=21005
    I:ID.ChocolateMilkBucket=21034
    I:ID.FertilizerItem=21192
    I:ID.Hammer=21187
    I:ID.LaserFocus=21033
    I:ID.MachineBlock=21003
    I:ID.MeatBucket=21029
    I:ID.MeatIngotCooked=21026
    I:ID.MeatIngotRaw=21025
    I:ID.MeatNuggetCooked=21028
    I:ID.MeatNuggetRaw=21027
    I:ID.Milk=21188
    I:ID.MilkBottle=21014
    I:ID.MobEssence=21191
    I:ID.MobEssenceBucket=21198
    I:ID.MushroomSoupBucket=21035
    I:ID.NeedleGun=21036
    I:ID.NeedleGun.Ammo.Anvil=21043
    I:ID.NeedleGun.Ammo.Empty=21037
    I:ID.NeedleGun.Ammo.Fire=21042
    I:ID.NeedleGun.Ammo.Lava=21039
    I:ID.NeedleGun.Ammo.Sewage=21041
    I:ID.NeedleGun.Ammo.Sludge=21040
    I:ID.NeedleGun.Ammo.Standard=21038
    I:ID.PinkSlimeBucket=21030
    I:ID.PinkSlimeball=21031
    I:ID.PlasticCup=21044
    I:ID.PlasticSheet=21193
    I:ID.PortaSpawner=21016
    I:ID.RawPlastic=21194
    I:ID.RawRubber=21002
    I:ID.RedNet.MemoryCard=21023
    I:ID.RedNet.Meter=21022
    I:ID.Rocket=21046
    I:ID.RocketLauncher=21045
    I:ID.RubberBar=21195
    I:ID.Ruler=21024
    I:ID.SafariNet=21004
    I:ID.SafariNetJailer=21032
    I:ID.SafariNetLauncher=21012
    I:ID.SafariNetSingleUse=21008
    I:ID.Sewage=21190
    I:ID.SewageBucket=21196
    I:ID.Sludge=21189
    I:ID.SludgeBucket=21197
    I:ID.Spyglass=21015
    I:ID.Straw=21017
    I:ID.SugarCharcoal=21013
    I:ID.SyringeCure=21020
    I:ID.SyringeEmpty=21199
    I:ID.SyringeGrowth=21001
    I:ID.SyringeHealth=21000
    I:ID.SyringeSlime=21019
    I:ID.SyringeZombie=21007
    I:ID.Upgrade=21011
    I:ID.Upgrade.PRC=21021
    I:ID.XPExtractor=21018

    # If true, DSU can be built out of chests instead of ender pearls. Does nothing if the DSU recipe is disabled.
    B:Recipe.CheaperDSU=false

    # If true, the Guns will be craftable.
    B:Recipe.Guns=true

    # If true, mossy cobble can be crafted.
    B:Recipe.MossyCobble=true

    # If true, the safarinet launcher will be craftable.
    B:Recipe.NetLauncher=true

    # If true, the PortaSpawner will be craftable.
    B:Recipe.PortaSpawner=true

    # DSU recipes will always craft one DSU. Does nothing for recipes that already only craft one DSU (cheap mode, GT recipes, etc).
    B:Recipe.SingleDSU=false

    # If true, the Syringes will be craftable.
    B:Recipe.Syringes=true
}


####################
# machine
####################

machine {
    I:AutoAnvil.ActivationCostMJ=16
    B:AutoAnvil.Recipe.Enabled=true
    I:AutoBrewer.ActivationCostMJ=4
    B:AutoBrewer.Recipe.Enabled=true
    I:AutoDisenchanter.ActivationCostMJ=32
    B:AutoDisenchanter.Recipe.Enabled=true
    I:AutoEnchanter.ActivationCostMJ=16
    B:AutoEnchanter.Recipe.Enabled=true
    B:AutoJukebox.Recipe.Enabled=true
    I:AutoSpawner.ActivationCostMJ=60
    B:AutoSpawner.Recipe.Enabled=true
    I:BioFuelGenerator.ActivationCostMJ=16
    B:BioFuelGenerator.Recipe.Enabled=true
    B:BioReactor.Recipe.Enabled=true
    I:BlockBreaker.ActivationCostMJ=96
    B:BlockBreaker.Recipe.Enabled=true
    I:BlockPlacer.ActivationCostMJ=1
    B:BlockPlacer.Recipe.Enabled=true
    I:BlockSmasher.ActivationCostMJ=1
    B:BlockSmasher.Recipe.Enabled=true
    I:Breeder.ActivationCostMJ=64
    B:Breeder.Recipe.Enabled=true
    I:Chronotyper.ActivationCostMJ=128
    B:Chronotyper.Recipe.Enabled=true
    I:Composter.ActivationCostMJ=2
    B:Composter.Recipe.Enabled=true
    B:DeepStorageUnit.Recipe.Enabled=true
    B:Ejector.Recipe.Enabled=true
    B:EnchantmentRouter.Recipe.Enabled=true
    I:Fertilizer.ActivationCostMJ=96
    B:Fertilizer.Recipe.Enabled=true
    I:Fisher.ActivationCostMJ=2
    B:Fisher.Recipe.Enabled=true
    I:FruitPicker.ActivationCostMJ=32
    B:FruitPicker.Recipe.Enabled=true
    I:Grinder.ActivationCostMJ=320
    B:Grinder.Recipe.Enabled=true
    I:Harvester.ActivationCostMJ=24
    B:Harvester.Recipe.Enabled=true
    B:ItemCollector.Recipe.Enabled=true
    B:ItemRouter.Recipe.Enabled=true
    B:LaserDrill.Recipe.Enabled=true
    I:LaserDrillPrecharger.ActivationCostMJ=500
    B:LaserDrillPrecharger.Recipe.Enabled=true
    I:LavaFabricator.ActivationCostMJ=20
    B:LavaFabricator.Recipe.Enabled=true
    B:LiquiCrafter.Recipe.Enabled=true
    B:LiquidRouter.Recipe.Enabled=true
    I:MeatPacker.ActivationCostMJ=2
    B:MeatPacker.Recipe.Enabled=true
    B:MobCounter.Recipe.Enabled=true
    I:OilFabricator.ActivationCostMJ=588
    B:OilFabricator.Recipe.Enabled=true
    I:Planter.ActivationCostMJ=16
    B:Planter.Recipe.Enabled=true
    I:Rancher.ActivationCostMJ=32
    B:Rancher.Recipe.Enabled=true
    B:RedNote.Recipe.Enabled=true
    B:Sewer.Recipe.Enabled=true
    I:Slaughterhouse.ActivationCostMJ=100
    B:Slaughterhouse.Recipe.Enabled=true
    I:SludgeBoiler.ActivationCostMJ=2
    B:SludgeBoiler.Recipe.Enabled=true
    I:SteamTurbine.ActivationCostMJ=8
    B:SteamTurbine.Recipe.Enabled=true
    B:Unifier.Recipe.Enabled=true
    I:Vet.ActivationCostMJ=32
    B:Vet.Recipe.Enabled=true
    I:WeatherCollector.ActivationCostMJ=4
    B:WeatherCollector.Recipe.Enabled=true
}


####################
# recipesets
####################

recipesets {
    # If true, MFR will register its GregTech-based recipes.
    B:EnableGregTechRecipes=false

    # If true, MFR will register its Thermal Expansion-based recipes.
    B:EnableThermalExpansionRecipes=false

    # If true, MFR will register its standard (vanilla-item-only) recipes.
    B:EnableVanillaRecipes=true
}


